.card {
  margin: 10px 15px 10px 15px;
  width: 200px;
  height: 250px;
  border-radius: 5px;
}

.card-title {
  margin: 10px 0 10px -10px;
  padding: 7px;
  position: relative;
  border-radius: 2px;
}

.card-body {
  margin: 10px;
}
