<div *ngIf="topics">
  <ul class="container container-ul">
    <li *ngFor="let topic of topics" class="white-text">
      <app-topic [topic]="topic"></app-topic>
    </li>
  </ul>
<!--  Add topic here:-->
  <div *ngIf="currentUserr" class="container center-align">
    <form *ngIf="isFormVisible" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="title" id="title" type="text" class="validate white-text" name="title">
          <label for="title">Topic name</label>
        </div>
        <div class="input-field col s6">
          <input  [(ngModel)]="description" id="description" type="text" class="validate white-text" name="description">
          <label for="description">Description</label>
        </div>
        <button (click)="createTopic()" class="btn waves-effect waves-light">Add topic</button>
      </div>
    </form>
    <div *ngIf="!isFormVisible;then content else contentElse"></div>
    <ng-template #content>
      <a href="#" class="btn-floating red btn-large" (click)="toggleAddTopicForm()"><i class="large material-icons">add</i></a>
    </ng-template>
    <ng-template #contentElse>
      <a href="#" class="btn-floating red btn-large" (click)="toggleAddTopicForm()"><i class="large material-icons">keyboard_arrow_up</i></a>
    </ng-template>
  </div>
</div>
