<div class="container login-page">
  <h2 class="white-text center-align">Login</h2>
  <div class="col s12 z-depth-6 card-panel">
    <form class="login-form">
      <div class="row"></div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix"></i>
          <input [(ngModel)]="emailAddress" name="email" class="validate" id="email" type="email">
          <label for="email" data-error="wrong" data-success="right">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix"></i>
          <input [(ngModel)]="password" name="password" id="password" type="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button (click)="loginUser()" class="btn waves-effect red accent-1 col s12">Log In</button>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <p class="margin medium-small"><a routerLink="/signup">New User?</a></p>
        </div>
        <div class="input-field col s6">
          <p class="margin right-align medium-small"><a>Forgot password?</a></p>
        </div>
      </div>
    </form>
  </div>
</div>

